body {
  margin: 0;
  padding: 0;
  background-color: #9caf88;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.container h1 {
  color: yellow;
  font-size: 4rem;
  text-align: center;
}
